<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>mi proyecto</title>
</head>
<body>
    <!-- HEADER -->
    <header>
        <div>
            <h1>NOTICIAS DE LA NBA</h1>
            <p>todas las noticias sobre la nba</p>
        </div>
    </header>
    <!-- navbar -->
    <nav class="formnav">
        <a href="../../index.html">inicio</a>
        <a href="">noticias</a>
        <a href="">resultados</a>
        <a href="">registro</a>
    </nav>
    <!-- formulario -->
    <form action="">
        <fieldset>
            <legend>Formulario de registro</legend>
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="name">
            <label for="apellido">Apellido</label>
            <input type="text" id="apellido" name="lname">
            <label for="email">Email</label>
            <input type="email" id="email" name="correo">
            <label for="contraseña">Contraseña</label>
            <input type="password" id="contraseña" name="pass" required>
            <label for="fecha">Fecha de nacimiento</label>
            <input type="date" id="fecha" name="date">
            <input type="submit" value="Registrarse">
            <input type="reset" value="borrar">
        </fieldset>
    </form>
</body>
</html>